name: Backend CD

on:
   workflow_run:
      workflows: ["Backend CI"]
      types:
         - completed
      branches:
         - "main"

jobs:
   deploy:
      if: ${{ github.event.workflow_run.conclusion == 'success' }}
      runs-on: ubuntu-latest

      permissions:
         contents: read
         packages: write

      steps:
         - name: Checkout Code
           uses: actions/checkout@v4
           with:
              ref: ${{ github.event.workflow_run.head_sha }}

         - name: Set up JDK 21
           uses: actions/setup-java@v4
           with:
              java-version: "21"
              distribution: "temurin"
              cache: "maven"

         - name: Build JAR
           run: mvn package -DskipTests --file processor/pom.xml

         - name: Downcase Repo Owner
           run: echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
           env:
              OWNER: "${{ github.repository_owner }}"

         - name: Log in to GitHub Container Registry
           uses: docker/login-action@v3
           with:
              registry: ghcr.io
              username: ${{ github.actor }}
              password: ${{ secrets.GITHUB_TOKEN }}

         - name: Build and Push Docker Image
           uses: docker/build-push-action@v5
           with:
              context: .
              push: true
              tags: ghcr.io/${{ env.OWNER_LC }}/salamander-backend:latest

         - name: Deploy to DigitalOcean
           uses: appleboy/ssh-action@v1.0.3
           with:
              host: ${{ secrets.DO_HOST }}
              username: ${{ secrets.DO_USERNAME }}
              key: ${{ secrets.DO_SSH_KEY }}
              script: |
                 echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

                 docker stop backend || true
                 docker rm backend || true

                 docker pull ghcr.io/${{ env.OWNER_LC }}/salamander-backend:latest

                 # This ensures videos don't vanish when you redeploy
                 mkdir -p /root/salamander-data/videos
                 mkdir -p /root/salamander-data/results

                 docker run -d \
                   --name backend \
                   --restart unless-stopped \
                   -p 8080:8080 \
                   -e VIDEO_DIR=/videos \
                   -e OUTPUT_DIR=/results \
                   -e JAR_PATH=/app/target/videoprocessor.jar \
                   -v /root/salamander-data/videos:/videos \
                   -v /root/salamander-data/results:/results \
                   ghcr.io/${{ env.OWNER_LC }}/salamander-backend:latest
